<!--
	Test pairing with Android:

	Use $ ifconfig to determine IP.

	Run $ echo export ROS_MASTER_URI=http://IP_OF_TURTLEBOT:11311 >> ~/.bashrc
	Run $ echo export ROS_HOSTNAME=IP_OF_TURTLEBOT >> ~/.bashrc

	Run $ rocon_launch rocon_app_manager paired.concert

	On Android open Remocon, scan network, find robot.
-->

<launch>
  <arg name="robot_name" default="HURK"/>
  <arg name="rapp_lists" default="rocon_apps/rocon.rapps;hurk/hurk.rapps"/>

  <!--<include file="$(find rocon_app_manager)/launch/paired_public.launch">
    <arg name="robot_name"  value="$(arg robot_name)"/>
  </include>-->

  <include file="$(find rocon_app_manager)/launch/paired_private.launch">
    <arg name="robot_name"  value="$(arg robot_name)"/>
    <arg name="robot_type"  value="$(arg robot_name)"/>
    <arg name="rapp_lists" value="$(arg rapp_lists)"/>
  </include>

</launch>